body {
overflow-x: hidden;
margin:  0px;
padding: 0px;
box-sizing: border-box;
margin-inline: auto;
position: absolute;
width: 700px;
height: 550px;
top: 64px;
background: #1F2937;
}

h1 {
    color: #FFFFFF;
}

#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    width: 700px;

}

#random {
    color: #4ADF86;
    margin-top: 10px;
    margin-bottom: 10px;
}

div p {
    color: #FFFFFF;
    margin-left: 140px;
    margin-top: 30px;
    position: absolute;
    width: 80vh;
    left: 40px;
    top: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

div button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
margin-left: 200px;
border: none;
gap: 12px;
position: absolute;
width: 191px;
height: 42px;
left: 52px;
top: 184px;
background: #10B981;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
width: 200px;
height: 50px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
transition: 1s;
}

div button:hover {
    background-color: black;
    margin-top: 5px;
    border-radius: 50px;
    border: 2px dotted white;
    color: red;
}

#pass-word1 {
position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 396px;
background: #273549;
border-radius: 6px;
margin-left: 30px;
padding-top: 6px;
position: absolute;
left: 67px;
top: 400px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #55F991;
}

#pass-word2 {
    padding-top: 6px;
position: absolute;
width: 211px;
height: 39px;
left: 250px;
top: 396px;
background: #273549;
border-radius: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
text-align: center;
color: #55F991;
}